@model CmsCoreV2.Models.Menu

@{
    ViewData["Title"] = "Menü Oluştur";
}

<h2>Yeni Menü Oluştur</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MenuLocation" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MenuLocation" class="form-control" />
                <span asp-validation-for="MenuLocation" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LanguageId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="LanguageId" class ="form-control" asp-items="ViewBag.LanguageId">
                    <option value="">Lütfen Dil Seçiniz!</option>
                </select>
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-default" asp-action="Index">Listeye Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
