.dots-loader:not(:required) {
    box-shadow: rgb(233,29,177) -14px -14px 0 7px, rgb(248,156,36) 14px -14px 0 7px, rgb(63,174,72) 14px 14px 0 7px, rgb(0,130,190) -14px 14px 0 7px;
    -webkit-animation: dots-loader2 5s infinite ease-in-out;
    animation: dots-loader2 5s infinite ease-in-out;
}

@keyframes dots-loader2 {
    0% {
        box-shadow: rgb(233,29,177) -14px -14px 0 7px, rgb(248,156,36) 14px -14px 0 7px, rgb(63,174,72) 14px 14px 0 7px, rgb(0,130,190) -14px 14px 0 7px;
    }

    8.33% {
        box-shadow: rgb(233,29,177) 14px -14px 0 7px, rgb(248,156,36) 14px -14px 0 7px, rgb(63,174,72) 14px 14px 0 7px, rgb(0,130,190) -14px 14px 0 7px;
    }

    16.67% {
        box-shadow: rgb(233,29,177) 14px 14px 0 7px, rgb(248,156,36) 14px 14px 0 7px, rgb(63,174,72) 14px 14px 0 7px, rgb(0,130,190) -14px 14px 0 7px;
    }

    25% {
        box-shadow: rgb(233,29,177) -14px 14px 0 7px, rgb(248,156,36) -14px 14px 0 7px, rgb(63,174,72) -14px 14px 0 7px, rgb(0,130,190) -14px 14px 0 7px;
    }

    33.33% {
        box-shadow: rgb(233,29,177) -14px -14px 0 7px, rgb(248,156,36) -14px 14px 0 7px, rgb(63,174,72) -14px -14px 0 7px, rgb(0,130,190) -14px -14px 0 7px;
    }

    41.67% {
        box-shadow: rgb(233,29,177) 14px -14px 0 7px, rgb(248,156,36) -14px 14px 0 7px, rgb(63,174,72) -14px -14px 0 7px, rgb(0,130,190) 14px -14px 0 7px;
    }

    50% {
        box-shadow: rgb(233,29,177) 14px 14px 0 7px, rgb(248,156,36) -14px 14px 0 7px, rgb(63,174,72) -14px -14px 0 7px, rgb(0,130,190) 14px -14px 0 7px;
    }

    58.33% {
        box-shadow: rgb(233,29,177) -14px 14px 0 7px, rgb(248,156,36) -14px 14px 0 7px, rgb(63,174,72) -14px -14px 0 7px, rgb(0,130,190) 14px -14px 0 7px;
    }

    66.67% {
        box-shadow: rgb(233,29,177) -14px -14px 0 7px, rgb(248,156,36) -14px -14px 0 7px, rgb(63,174,72) -14px -14px 0 7px, rgb(0,130,190) 14px -14px 0 7px;
    }

    75% {
        box-shadow: rgb(233,29,177) 14px -14px 0 7px, rgb(248,156,36) 14px -14px 0 7px, rgb(63,174,72) 14px -14px 0 7px, rgb(0,130,190) 14px -14px 0 7px;
    }

    83.33% {
        box-shadow: rgb(233,29,177) 14px 14px 0 7px, rgb(248,156,36) 14px -14px 0 7px, rgb(63,174,72) 14px 14px 0 7px, rgb(0,130,190) 14px 14px 0 7px;
    }

    91.67% {
        box-shadow: rgb(233,29,177) -14px 14px 0 7px, rgb(248,156,36) 14px -14px 0 7px, rgb(63,174,72) 14px 14px 0 7px, rgb(0,130,190) -14px 14px 0 7px;
    }

    100% {
        box-shadow: rgb(233,29,177) -14px -14px 0 7px, rgb(248,156,36) 14px -14px 0 7px, rgb(63,174,72) 14px 14px 0 7px, rgb(0,130,190) -14px 14px 0 7px;
    }
}

header .header-main .logo .header-logo img {
    min-width: 176px;
}

.page-link {
    background-color: #242c42 !important;
    color: white !important;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    padding: 0px;
}

.pagination > li:last-child > a {
    border-radius: 0px;
}

.pagination > li:first-child > a {
    border-radius: 0px;
}

.page-link last-child {
    margin-right: 0px;
}

.page-link:hover {
    transition: background-color 0.3s linear;
    background-color: #2aacff !important;
    width: 40px;
    height: 40px;
}

.edugate-layout-2:before {
    border-left: 3px solid #eaedf5;
}

.edugate-layout-2:after {
    width: 3px;
}

.top-courses-slider:nth-child(1) .owl-item:nth-child(3) .edugate-layout-2:after {
    background-color: rgb(88,169,207);
}

.top-courses-slider:nth-child(1) .owl-item:nth-child(4) .edugate-layout-2:after {
    background-color: rgb(233,29,117);
}

.top-courses-slider:nth-child(1) .owl-item:nth-child(5) .edugate-layout-2:after {
    background-color: rgb(88,169,207);
}

.top-courses-slider:nth-child(1) .owl-item:nth-child(6) .edugate-layout-2:after {
    background-color: rgb(233,29,117);
}

.top-courses-slider:nth-child(2) .owl-item:nth-child(3) .edugate-layout-2:after {
    background-color: rgb(248,156,36);
}

.top-courses-slider:nth-child(2) .owl-item:nth-child(4) .edugate-layout-2:after {
    background-color: rgb(63,174,72);
}

.top-courses-slider:nth-child(2) .owl-item:nth-child(5) .edugate-layout-2:after {
    background-color: rgb(248,156,36);
}

.top-courses-slider:nth-child(2) .owl-item:nth-child(6) .edugate-layout-2:after {
    background-color: rgb(63,174,72);
}

.section-padding {
    padding: 50px 0;
}

header .header-topbar {
    background-color: #093085;
}

header .header-main .navigation .nav-links li .main-menu {
    text-transform: capitalize;
}


.fa-search {
    color: rgb(233,29,117);
}

    .fa-search:hover {
        color: #0082cb;
    }

.slider-banner .owl-controls .owl-dots .owl-dot:nth-of-type(1) {
    background-color: #eb1c74;
    width: 20px;
    height: 20px;
    border: 0px;
}

.slider-banner .owl-controls .owl-dots .owl-dot:nth-of-type(2) {
    background-color: #ff9e19;
    width: 20px;
    height: 20px;
    border: 0px;
}

.slider-banner .owl-controls .owl-dots .owl-dot:nth-of-type(3) {
    background-color: #3baf29;
    width: 20px;
    height: 20px;
    border: 0px;
}

.slider-banner .owl-controls .owl-dots .owl-dot:nth-of-type(4) {
    background-color: #0082cb;
    width: 20px;
    height: 20px;
    border: 0px;
}

.slider-banner .owl-controls .owl-dots .owl-dot:nth-of-type(5) {
    background-color: #092f87;
    width: 20px;
    height: 20px;
    border: 0px;
}

.slider-banner .owl-controls .owl-dots .owl-dot.active {
    border: 2px solid white;
}

#floatingButton a {
    position: fixed;
    bottom: 20px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    z-index: 100;
    color: #2aacff;
    transition: all .5s ease-in-out;
    background-color: #0082cb;
    width: 250px;
    right: 65px;
    color: white;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('/edugate/images/video_foto.png') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

.btn {
    text-transform: capitalize;
}

#homeSlider2 .slider-item > div {
    padding-top: 120px;
}

.staff-item {
    background-color: rgba(255,255,255,0.7);
}

.positionRelative {
    position: relative;
}

.why-choose-us {
    background-color: rgb(62,160,227);
    background: url('/edugate/images/blue-background.png') no-repeat;
    color: #fff;
}

li.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.choose-course .icon-circle {
    margin: initial;
}

.item-course.item-1 .name-course {
    width: calc( 170px * 0.7 );
    margin: 0 auto;
}

.item-course.item-2 .name-course {
    width: calc( 170px * 1 );
    margin: 0 auto;
}

.item-course.item-3 .name-course {
    width: calc( 170px * 1.3 );
    margin: 0 auto;
}

.item-course.item-4 .name-course {
    width: calc( 170px * 1.6 );
    margin: 0 auto;
}

.choose-course .item-4 .icon-circle {
    margin: 0 auto;
    margin-right: 10px;
}

.choose-course .icon-circle .icon-background {
    z-index: 99;
}

.item-course.item-1 {
    padding-top: 220px;
}

    .item-course.item-1 > .icon-circle {
        
        width: 119px;
        height: 119px;
        margin: 0px auto;
    }

.choose-course .item-1 .icon-circle .icon-background {
   background-color: rgba(233,29,177,0.7);
   width:102.2px;
   height:102.2px;
   margin-bottom:-4.3px;
   margin-left:-50.5px;
}

.choose-course .item-1 .icon-circle .info .info-back:before {
    border: 12px solid rgb(233,29,177);
}

.choose-course .item-1 .name-course a {
    color: rgb(233,29,177);
}

.item-course.item-2 {
    padding-top: 80px;
    text-align: left;
}


    .item-course.item-2 > .icon-circle {
        
        margin: 0px auto;
    }

.choose-course .item-2 .icon-circle .icon-background {
    background-color: rgba(248,156,36,0.7);
    
}

.choose-course .item-2 .icon-circle .info .info-back:before {
    border: 12px solid rgb(248,156,36);
}

.choose-course .item-2 .name-course a {
    color: rgb(248,156,36);
}

.item-course.item-3 {
    text-align: left;
}

    .item-course.item-3 > .icon-circle {
        
        width: 221px;
        height: 221px;
        margin: 0px auto;
    }

.choose-course .item-3 .icon-circle .icon-background {
    background-color: rgba(63,174,72,0.7);
    width: 189.8px;
    height: 189.8px;
    margin-bottom:4.5px;
    margin-left: -93px;
}

.choose-course .item-3 .icon-circle .info .info-back:before {
    border: 20px solid rgb(63,174,72);
}

.choose-course .item-3 .name-course a {
    color: rgb(63,174,72);
}


.item-course.item-4 > .icon-circle {
    
    width: 272px;
    height: 272px;
    margin: 0px auto;
}

.choose-course .item-4 .icon-circle .icon-background {
    background-color: rgba(0,130,190,0.7);
    width: 233.6px;
    height: 233.6px;
    margin-bottom:8px;
    margin-left: -116.8px;
}

.choose-course .item-4 .icon-circle .info .info-back:before {
    border: 20px solid rgb(0,130,190);
}

.choose-course .item-4 .name-course a {
    color: rgb(0,130,190);
}

.choose-course .icon-circle .info .info-back a {
    padding: 0px;
}

.choose-course .name-course a {
    text-transform: capitalize
}

.choose-course .icon-circle .info .info-back {
    background-color: #FFFFFF;
}

.choose-course {
    background: url('/edugate/images/background-gradient-gray.png') repeat-y white;
}

#floatingButton #floatingForm {
    position: fixed;
    display: inline-block;
    bottom: 65px;
    height: 435px;
    text-align: left;
    z-index: 100;
    color: gray;
    font-size: 12px;
    background-color: rgba(250,250,250,0.9);
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    width: 251px;
    right: 64px;
    padding: 0px;
    border-right: 2px solid #0082cb;
}

#floatingForm legend {
    margin-bottom: 0px;
}

#floatingForm input.form-control, #floatingForm select.form-control {
    font-size: 12px !important;
}

#floatingForm .btn-sm {
    background: #5cb85c;
}

#floatingForm .formField {
    margin: 9px 0px;
}

    #floatingForm .formField:first-child {
        margin-top: 0px;
    }
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
li.accordion.active, li.accordion:hover {
    background-color: #ddd;
}

div.CustomPanel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

header .header-main .edugate-dropdown-menu-1 li .link-page, header .header-main .edugate-dropdown-menu-2 li .link-page {
    line-height: 30px;
}
@media screen and (max-width: 991px) {
    .item-course{
        padding:20px 0 !important;
    }
    .name-course{
        margin-top:5px !important;
    }

}

.slider-item .slider-1, .slider-item .slider-2, .slider-item .slider-3 {

    background-image: none !important;
}


.background-opacity:before {
    background-image: url("http://www.waterwhale.com/wp-content/uploads/2014/12/empire-state-1500x300.jpg") !important;
    background-size: cover;
}

.search-input {
  
    background-color: #c13e82 !important;

}

.btn {
    float:right;
    right:70px;
}