@model CmsCoreV2.Models.Setting

@{
    ViewData["Title"] = "E-posta Ayarları";
}

<h2>E-posta Ayarları</h2>

<form asp-action="Mail">
    <div class="form-horizontal">
        <h4>Setting</h4>
        <hr />
        @if (!String.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-success">
                @ViewBag.Message
            </div>

        }
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="SmtpUserName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SmtpUserName" class="form-control" />
                <span asp-validation-for="SmtpUserName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SmtpPassword" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SmtpPassword" class="form-control" />
                <span asp-validation-for="SmtpPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SmtpHost" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SmtpHost" class="form-control" />
                <span asp-validation-for="SmtpHost" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SmtpPort" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SmtpPort" class="form-control" />
                <span asp-validation-for="SmtpPort" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SmtpUseSSL" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="checkbox" asp-for="SmtpUseSSL"  />
                <span asp-validation-for="SmtpUseSSL" class="text-danger"></span>
            </div>
        </div>
       
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="CreateDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input readonly asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input  readonly asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdateDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input readonly  asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdatedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input readonly asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AppTenantId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="hidden" asp-for="AppTenantId" class="form-control" />
                <span asp-validation-for="AppTenantId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
