@model PageViewModel
@{
    ViewData["Title"] = Model.SeoTitle;
}
<div id="wrapper-content">
    <!-- PAGE WRAPPER-->
    <div id="page-wrapper">
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <!-- CONTENT-->
            <div class="content">
                <div class="section section-padding contact-main">
                    <div class="container">
                        <div class="contact-main-wrapper">
                            <div class="row contact-method">
                                @Html.Raw(Model.Body)
                                @await Component.InvokeAsync("EmbedForm", new { name = "İletişim", template = "ContactForm" })
                            </div>
                        </div>
                    </div>
                </div>
                <div id="map_canvas" class="section contact-map">
                </div>
            </div>
        </div>
        <!-- BUTTON BACK TO TOP-->
        <div id="back-top"><a href="#top"><i class="fa fa-angle-double-up"></i></a></div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAJyYNp6gK3IrXp_Xi3wPdmJNNvATrklpo"></script>
    <script type="text/javascript">
    function initialize() {
        var canvas = $("#map_canvas");
        var latitude = @Html.Raw(ViewBag.MapLat);
        var longitude = @Html.Raw(ViewBag.MapLon);
        var latlng = new google.maps.LatLng(latitude, longitude);
        var options = {
            scrollwheel: false,
            zoom: 16,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(canvas[0], options);
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(latitude, longitude),
            map: map
        });
    }
    $(function () {
        initialize();
    });

    </script>
}