@model CmsCoreV2.Models.Form
@addTagHelper "CmsCoreV2.Helpers.FormFieldHelper, CmsCoreV2"
@if (Model != null && Model.Id > 0)
{
    <form action="/Home/PostForm" method="post" enctype="multipart/form-data">
        <div style="position:relative;">
            <img src="~/edugate/images/icon-close.png" style="border:0px;position:absolute;right:0px;cursor:pointer;" onclick="$('#floatingForm').slideToggle('slow')" alt="Kapat" />
            <div style="padding: 9px;">
                <fieldset>
                    <legend><img src="~/edugate/images/icon-phone.png" style="border:0px; vertical-align:text-bottom;" /> @Model.FormName.ToUpper()</legend>
                    <input type="hidden" value="@Model.Id" name="FormId" />
                    @foreach (FormField item in Model.FormFields)
                    { <div class="formField">
                        @if (item.Required)
                        {
                            <formField form-field="item" required="true" read_only="false" show-placeholder="true" />
                            @Html.ValidationMessage(item.Name, "", new { @class = "text-danger" })
                        }
                        else
                        {
                            <formField form-field="item" read_only="false" show-placeholder="true" />
                        }


                    </div>
                    }
                    <div style="text-align:right;">
                        <input type="submit" value="Gönder" class="btn-sm btn-success" id="embedFormSubmit" />
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
}
else
{
    <p>Form bulunamadı!</p>
}