@inject AppTenant Tenant
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>





    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />

    <!-- Temps Files-->
    <script src="https://use.typekit.net/orp0qua.js"></script>
    <script>try { Typekit.load({ async: true }); } catch (e) { }</script>
    <link type="text/css" rel="stylesheet" href="/edugate/font/font-icon/font-awesome-4.4.0/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="/edugate/font/font-icon/font-svg/css/Glyphter.css">
    <!-- LIBRARY CSS-->
    <link type="text/css" rel="stylesheet" href="/edugate/libs/animate/animate.css">
    <link type="text/css" rel="stylesheet" href="/edugate/libs/bootstrap-3.3.5/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/edugate/libs/owl-carousel-2.0/assets/owl.carousel.css">
    <link type="text/css" rel="stylesheet" href="/edugate/libs/selectbox/css/jquery.selectbox.css">
    <link type="text/css" rel="stylesheet" href="/edugate/libs/fancybox/css/jquery.fancybox.css">
    <link type="text/css" rel="stylesheet" href="/edugate/libs/fancybox/css/jquery.fancybox-buttons.css">
    <link type="text/css" rel="stylesheet" href="/edugate/libs/media-element/build/mediaelementplayer.min.css">

    <!-- STYLE CSS    -->
    <link type="text/css" rel="stylesheet" href="/edugate/css/color-4.css" id="color-skins">
    <!--link(type="text/css", rel='stylesheet', href='#', id="color-skins")-->
    <script src="/edugate/libs/jquery/jquery-2.1.4.min.js"></script>
    <script src="/edugate/libs/js-cookie/js.cookie.js"></script>

    <link href="~/edugate/css/Custom.css" rel="stylesheet" />
</head>
<body style="margin:0px; padding:0px;">
    <header>
        <div class="header-topbar">
            <div class="container">
                <div class="topbar-left pull-left">
                    <div class="email"><a href="mailto:bilgi@bilgikoleji.com"><i class="topbar-icon fa fa-envelope-o"></i><span>bilgi@bilgikoleji.com</span></a></div>
                    <div class="hotline"><a href="tel:4441525"><i class="topbar-icon fa fa-phone"></i><span>444 15 25</span></a></div>
                </div>
                <div class="topbar-right pull-right">
                    <div class="socials"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="twitter"><i class="fa fa-twitter"></i></a><a href="#" class="google"><i class="fa fa-google-plus"></i></a><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a><a href="#" class="instagram"><i class="fa fa-instagram"></i></a><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></div>
                    <a href="/blog"><img src="/edugate/images/icon-blog.png" alt="Blog" style="margin:0 30px;border:0px;" /></a>
                    <a href="/">TR</a> | <a href="/en">EN</a>
                </div>
            </div>
        </div>
        <div class="header-main homepage-01">
            <div class="container">
                <div class="header-main-wrapper">
                    <div class="navbar-header">
                        <div class="logo pull-left">
                            <a href="/" class="header-logo">
                                <img src="/edugate/images/logo.png" alt="Bilgi Koleji" />
                            </a>
                        </div>
                        <button type="button" data-toggle="collapse" data-target=".navigation" class="navbar-toggle edugate-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <nav class="navigation collapse navbar-collapse pull-right">
                        <ul class="nav-links nav navbar-nav">
                            <li class=dropdown>
                                <a href="#" class="main-menu">
                                    Hakk&#x131;m&#x131;zda
                                    <span class='fa fa-angle-down icons-dropdown'></span>
                                </a>
                                <ul class="dropdown-menu edugate-dropdown-menu-1">
                                    <li><a href="/kurumsal" class="link-page">Kurumsal</a></li>
                                    <li><a href="/vizyon-misyon" class="link-page">Vizyon Misyon</a></li>
                                    <li><a href="/kadromuz" class="link-page">Kadromuz</a></li>
                                    <li><a href="/yonetim-kurulumuz" class="link-page">Y&#xF6;netim Kurulumuz</a></li>

                                </ul>

                            </li>
                            <li class=dropdown>
                                <a href="#" class="main-menu">
                                    Fark&#x131;m&#x131;z
                                    <span class='fa fa-angle-down icons-dropdown'></span>
                                </a>
                                <ul class="dropdown-menu edugate-dropdown-menu-1">
                                    <li><a href="/ingilizce-egitimleri" class="link-page">&#x130;ngilizce E&#x11F;itimleri</a></li>
                                    <li><a href="/bilisim-egitimleri" class="link-page">Bili&#x15F;im E&#x11F;itimleri</a></li>
                                    <li><a href="/kisisel-gelisim" class="link-page">Ki&#x15F;isel Geli&#x15F;im</a></li>
                                    <li><a href="/sanat-egitimleri" class="link-page">Sanat E&#x11F;itimleri</a></li>
                                    <li><a href="/spor-egitimi" class="link-page">Spor E&#x11F;itimi</a></li>
                                    <li><a href="/kurullar" class="link-page">Kurullar</a></li>
                                    <li><a href="/okul-ogrenci-konseyi" class="link-page">Okul &#xD6;&#x11F;renci Konseyi</a></li>

                                </ul>

                            </li>
                            <li class=dropdown>
                                <a href="#" class="main-menu">
                                    E&#x11F;itim Modeli
                                    <span class='fa fa-angle-down icons-dropdown'></span>
                                </a>
                                <ul class="dropdown-menu edugate-dropdown-menu-1">
                                    <li><a href="/a-5b-egitim-modeli" class="link-page">A&#x2B;5B E&#x11F;itim Modeli</a></li>
                                    <li><a href="/anaokulu" class="link-page">Anaokulu</a></li>
                                    <li><a href="/ilkokul" class="link-page">&#x130;lkokul</a></li>
                                    <li><a href="/ortaokul" class="link-page">Ortaokul</a></li>
                                    <li><a href="/lise" class="link-page">Lise</a></li>

                                </ul>

                            </li>
                            <li class=dropdown>
                                <a href="#" class="main-menu">
                                    Kamp&#xFC;s
                                    <span class='fa fa-angle-down icons-dropdown'></span>
                                </a>
                                <ul class="dropdown-menu edugate-dropdown-menu-1">
                                    <li><a href="/derslikler" class="link-page">Derslikler</a></li>
                                    <li><a href="/ingilizce-laboratuvari" class="link-page">&#x130;ngilizce Laboratuvar&#x131;</a></li>
                                    <li><a href="/bilisim-laboratuvar&#x131;" class="link-page">Bili&#x15F;im Laboratuvar&#x131;</a></li>
                                    <li><a href="/fen-bilimleri-laboratuvari" class="link-page">Fen Bilimleri Laboratuvar&#x131;</a></li>
                                    <li><a href="/muzik-atolyesi" class="link-page">M&#xFC;zik At&#xF6;lyesi</a></li>
                                    <li><a href="/guzel-sanatlar-atolyesi" class="link-page">G&#xFC;zel Sanatlar At&#xF6;lyesi</a></li>
                                    <li><a href="/spor-salonu" class="link-page">Spor Salonu</a></li>
                                    <li><a href="/kutuphane" class="link-page">K&#xFC;t&#xFC;phane</a></li>
                                    <li><a href="/yemekhane" class="link-page">Yemekhane</a></li>
                                    <li><a href="/bahce" class="link-page">Bah&#xE7;e</a></li>

                                </ul>

                            </li>
                            <li class=dropdown>
                                <a href="#" class="main-menu">
                                    &#x130;leti&#x15F;im
                                    <span class='fa fa-angle-down icons-dropdown'></span>
                                </a>
                                <ul class="dropdown-menu edugate-dropdown-menu-1">
                                    <li><a href="/bize-ulasin" class="link-page">Bize Ula&#x15F;&#x131;n</a></li>
                                    <li><a href="/on-kayit" class="link-page">&#xD6;n Kay&#x131;t</a></li>
                                    <li><a href="/online-veli-gorusmesi" class="link-page">Online Veli G&#xF6;r&#xFC;&#x15F;mesi</a></li>
                                    <li><a href="/veli-ogrenci-el-kitabi" class="link-page">Veli-&#xD6;&#x11F;renci El Kitab&#x131;</a></li>
                                    <li><a href="/anket" class="link-page">Anket</a></li>

                                </ul>

                            </li>
                            <li class="button-search"><p class="main-menu"><i class="fa fa-search"></i></p></li>
                            <div class="nav-search hide">
                                <form action="/ara">
                                    <input type="text" name="query" placeholder="Ara" class="searchbox" />
                                    <button type="submit" class="searchbutton fa fa-search"></button>
                                </form>
                            </div>
                        </ul>
                        <!--<ul class="nav-links nav navbar-nav">
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="main-menu">Hakkımızda<span class="fa fa-angle-down icons-dropdown"></span></a>
                                <ul class="dropdown-menu edugate-dropdown-menu-1">
                                    <li><a href="courses.html" class="link-page">Kurumsal</a></li>
                                    <li><a href="courses-detail.html" class="link-page">Vizyon</a></li>
                                    <li><a href="events.html" class="link-page">Misyon</a></li>
                                    <li><a href="event-detail.html" class="link-page">Kurullar</a></li>
                                    <li><a href="courses-detail.html" class="link-page">Yönetim Kurulu</a></li>
                                    <li><a href="courses-detail.html" class="link-page">Okul Aile Konseyleri</a></li>
                                    <li><a href="courses-detail.html" class="link-page">Okul Öğrenci Konseyleri</a></li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="main-menu">Farkımız<span class="fa fa-angle-down icons-dropdown"></span></a>
                                <ul class="dropdown-menu edugate-dropdown-menu-1">
                                    <li><a href="gallery-3column.html" class="link-page">Dil Eğitimleri</a></li>
                                    <li><a href="gallery-4column.html" class="link-page">Bilişim Eğitimleri</a></li>
                                    <li><a href="gallery-masonry.html" class="link-page">Kişisel Gelişim</a></li>
                                    <li><a href="gallery-masonry.html" class="link-page">Eğitim Felsefemiz</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="main-menu">Eğitim Modeli<span class="fa fa-angle-down icons-dropdown"></span></a>
                                <ul class="dropdown-menu edugate-dropdown-menu-1">
                                    <li class="dropdown-submenu"><a href="categories.html" data-toggle="dropdown" class="dropdown dropdown-menu-right" >Anaokulu</a>
                                        <ul class="dropdown-menu">
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="dropdown-toggle" >Kişilik Yönelimi</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Aile Akademisi</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Kendimi Tanıyorum</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Hayatı Sevgiyle Tanıyalım</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Eğitim Programları</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Eğitim Materyalleri</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Etkinlik Programları</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Akademik Takvim</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Yemek Listeleri</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a href="profile-teacher.html" data-toggle="dropdown" class="link-page">İlkokul</a>
                                        <ul class="dropdown-menu">
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Kişilik Yönelimi</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Aile Akademisi</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Kendimi Tanıyorum</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">İngilizce Çocuk Oyuncağı</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Sanata Merhaba</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Öğrenci Kulüpleri</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Eğitim Programları</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Eğitim Materyalleri</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Etkinlik Programları</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Akademik Takvim</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Yemek Listeleri</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a href="about-us.html" data-toggle="dropdown" class="link-page">Ortaokul</a>
                                        <ul class="dropdown-menu">
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Kişilik Yönelimi</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Aile Akademisi</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Kendimi Tanıyorum</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Bilişim Çocuk</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">İngilizce Çocuk Oyuncağı</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Bir İnsan'ım Ben</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Sanata Merhaba</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Öğrenci Kulüpleri</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Eğitim Programları</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Eğitim Materyalleri</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Etkinlik Programları</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Akademik Takvim</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Yemek Listesi</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a href="login.html" data-toggle="dropdown" class="link-page">Lise</a>
                                        <ul class="dropdown-menu">
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Mesleki Yönelim / Bireysel Beceriler</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Kendimi Tanıyorum</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Aile Akademisi</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Bilişim Çocuk</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">İngilizce Çocuk Oyuncağı</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Bir İnsan'ım Ben</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Genç CEO'lar</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Hayat Üniversitesi</a>
                                            </li>
                                            <li style="color:dodgerblue">
                                                <a href="categories.html" class="link-page">Öğrenci Kulüperi</a>
                                            </li>

                                        </ul>
                                    </li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="main-menu">Okul Konsepti<span class="fa fa-angle-down icons-dropdown"></span></a>
                                <ul class="dropdown-menu edugate-dropdown-menu-1">
                                    <li><a href="news.html" class="link-page">Bahçe</a></li>
                                    <li><a href="news-grid.html" class="link-page">İngilizce</a></li>
                                    <li><a href="news-grid-nonsidebar.html" class="link-page">Bilişim</a></li>
                                    <li><a href="news-masonry.html" class="link-page">Spor Salonu</a></li>
                                    <li><a href="news-detail.html" class="link-page">Sanat Odaları</a></li>
                                    <li><a href="gallery-masonry.html" class="link-page">Yemekhane</a></li>
                                    <li><a href="gallery-masonry.html" class="link-page">Kütüphane</a></li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="main-menu">Akademik Takvim<span class="fa fa-angle-down icons-dropdown"></span></a>
                                <ul class="dropdown-menu edugate-dropdown-menu-1">
                                    <li><a href="news.html" class="link-page">Anasınıfı</a></li>
                                    <li><a href="news-grid.html" class="link-page">İlkokul</a></li>
                                    <li><a href="news-grid-nonsidebar.html" class="link-page">Ortaokul</a></li>
                                    <li><a href="news-masonry.html" class="link-page">Lise</a></li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="main-menu">Etkinlikler<span class="fa fa-angle-down icons-dropdown"></span></a>
                                <ul class="dropdown-menu edugate-dropdown-menu-1">
                                    <li><a href="news.html" class="link-page">Önemli Günler</a></li>
                                    <li><a href="news-grid.html" class="link-page">Okul içi Etkinlikler</a></li>
                                    <li><a href="news-grid-nonsidebar.html" class="link-page">Okullar Arası Etkinlikler</a></li>
                                    <li><a href="news-masonry.html" class="link-page">Sportif Faaliyetler</a></li>
                                    <li><a href="news-detail.html" class="link-page">Sanatsal Faaliyetler</a></li>
                                    <li><a href="gallery-masonry.html" class="link-page">Kod Saati</a></li>
                                    <li><a href="gallery-masonry.html" class="link-page">Öğrenci Meclisi</a></li>
                                </ul>
                            </li>
                            <li class="button-search"><p class="main-menu"><i class="fa fa-search"></i></p></li>
                        </ul>-->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <!-- FOOTER-->
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="footer-top-wrapper">
                    <div class="footer-top-left">
                        <p class="footer-top-focus">MUTLULUK VEREN BİLGİ'Yİ BİRLİKTE ÇOĞALTALIM</p>

                        <p class="footer-top-text">(Akademi ve İdari Personel Başvuruları)</p>
                    </div>
                    <div class="footer-top-right">
                        <button onclick="window.location.href='/Jobs/Apply/1'" class="btn btn-blue btn-bold"><span>BAŞVUR</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-main">
            <div class="container">
                <div class="footer-main-wrapper">
                    <div class="row">
                        <div class="col-2">
                            <div class="col-md-3 col-sm-6 col-xs-6 sd380">
                                <div class="edugate-widget widget">
                                    <div class="title-widget">HAKKINDA</div>
                                    <div class="content-widget">
                                        <p>Bilgi Koleji; anaokulu, ilkokul, ortaokul ve lise eğitimlerini veren bir özel eğitim kurumudur.</p>

                                        <div class="info-list">
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-envelope-o"></i><a href="mailto:bilgi@bilgikoleji.com">bilgi@bilgikoleji.com</a></li>
                                                <li><i class="fa fa-phone"></i><a href="#">P: 444 15 25</a></li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i><a href="#">
                                                        <p>Bahariye Caddesi Süleymanpaşa Sokak No:2</p>

                                                        <p>Kadıköy, İstanbul, Türkiye</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 sd380">
                                <div class="useful-link-widget widget">
                                    <div class="title-widget">BAĞLANTILAR</div>
                                    <div class="content-widget">
                                        <div class="useful-link-list">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <ul class="list-unstyled">
                                                        <li><i class="fa fa-angle-right"></i><a href="/akademik-takvim">Akademik Takvim</a></li>
                                                        <li><i class="fa fa-angle-right"></i><a href="/etkinlikler">Etkinlikler</a></li>
                                                        <li><i class="fa fa-angle-right"></i><a href="/basin">Basın</a></li>
                                                        <li><i class="fa fa-angle-right"></i><a href="/insan-kaynaklari">İnsan Kaynakları</a></li>
                                                        <li><i class="fa fa-angle-right"></i><a href="/kendini-degerlendir">Kendini Değerlendir</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <ul class="list-unstyled">
                                                        <li><i class="fa fa-angle-right"></i><a href="http://bilgistore.bilgikoleji.com">Bilgi Store</a></li>
                                                        <li><i class="fa fa-angle-right"></i><a href="/veli-iletisim">Veli İletişim</a></li>
                                                        <li><i class="fa fa-angle-right"></i><a href="/ek-alanlar">Ek Alanlar</a></li>
                                                        <li><i class="fa fa-angle-right"></i><a href="/site-haritasi">Site Haritası</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="col-md-3 col-sm-6 col-xs-6 sd380">
                                <div class="gallery-widget widget">
                                    <div class="title-widget">GALERİ</div>
                                    <div class="content-widget">
                                        <div class="gallery-list">
                                            <a href="javascript:void(0)" class="thumb"><img src="http://blog.presentationload.com/wp-content/uploads/2015/09/Flat-Design-Shadow-Text.png" alt="Kalem" class="img-responsive" /></a>
                                            <a href="javascript:void(0)" class="thumb"><img src="http://1vixa0rmxmp1rwx091zccmie-wpengine.netdna-ssl.com/wp-content/uploads/2017/01/Smart-city-flat-line-web1200-x600-graphics-1.png" alt="kareli falan bir hareket" class="img-responsive" /></a>
                                            <a href="javascript:void(0)" class="thumb"><img src="http://www.talonx.com/file/2014/07/talonX-Logo-Design-Menu.png" alt="dikey" class="img-responsive" /></a>
                                            <a href="javascript:void(0)" class="thumb"><img src="http://www.kordahitechnologies.com/sites/default/files/Trending%20Web%20Design11.png" alt="web" class="img-responsive" /></a>

                                        </div>
                                        <div class="clearfix"></div>
                                        <a href="/galeri" class="view-more">Daha fazla fotoğraf&nbsp;<i class="fa fa-angle-double-right mls"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 sd380">

                                <div class="mailing-widget widget">
                                    <div class="title-widget">E-BÜLTEN</div>
                                    <div class="content-wiget">
                                        <!-- Begin MailChimp Signup Form -->
                                        <div id="mc_embed_signup">
                                            <form action="//kaliteakademi.us3.list-manage.com/subscribe/post?u=ff2379d2b81580329cc53dd6d&amp;id=a26ce4d708" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                                <div id="mc_embed_signup_scroll">
                                                    <p>En son yeniliklerden ve tekliflerden haberdar olmak için e-posta listemize katılın.</p>
                                                    <div class="input-group">
                                                        <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="E-posta adresi" class="form-control form-email-widget" /><span class="input-group-btn">
                                                            <input type="submit" value="✓" name="subscribe" id="mc-embedded-subscribe" class="btn btn-email" />
                                                        </span>
                                                        <div id="mce-responses" class="clear">
                                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                                            <div class="response" id="mce-success-response" style="display:none"></div>
                                                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ff2379d2b81580329cc53dd6d_a26ce4d708" tabindex="-1" value=""></div>
                                                    </div>
                                                    <p>Gizliliğinize saygı duyuyoruz.</p>
                                                </div>
                                            </form>
                                        </div>

                                        <!--End mc_embed_signup-->


                                        <div class="socials"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google-plus"></i></a><a href="#" class="twitter"><i class="fa fa-twitter"></i></a><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a><a href="#" class="blog"><i class="fa fa-rss"></i></a><a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hyperlink">
                    <div class="pull-left hyper-left">
                        <ul class="list-inline">
                            <li><a href="/hakkimizda">Hakkımızda</a></li>
                            <li><a href="/farkimiz">Farkımız</a></li>
                            <li><a href="/egitim-modeli">Eğitim Modeli</a></li>
                            <li><a href="/okul-konsepti">Okul Konsepti</a></li>
                            <li><a href="/kampus">Kampüs</a></li>
                            <li><a href="/iletisim">İletişim</a></li>
                        </ul>
                    </div>
                    <div class="pull-right hyper-right"></div>
                </div>
            </div>
        </div>
    </footer>
    <!-- LOADING-->
    <div class="body-2 loading">
        <div class="dots-loader"></div>
    </div>


    <!-- Temp Scripts-->
    <script src="/edugate/libs/bootstrap-3.3.5/js/bootstrap.min.js"></script>
    <script src="/edugate/libs/smooth-scroll/jquery-smoothscroll.js"></script>
    <script src="/edugate/libs/owl-carousel-2.0/owl.carousel.min.js"></script>
    <script src="/edugate/libs/appear/jquery.appear.js"></script>
    <script src="/edugate/libs/count-to/jquery.countTo.js"></script>
    <script src="/edugate/libs/wow-js/wow.min.js"></script>
    <script src="/edugate/libs/selectbox/js/jquery.selectbox-0.2.min.js"></script>
    <script src="/edugate/libs/fancybox/js/jquery.fancybox.js"></script>
    <script src="/edugate/libs/fancybox/js/jquery.fancybox-buttons.js"></script>
    <!-- MAIN JS-->
    <script src="/edugate/js/main.js"></script>
    <!-- LOADING SCRIPTS FOR PAGE-->
    <script src="/edugate/libs/isotope/isotope.pkgd.min.js"></script>
    <script src="/edugate/libs/isotope/fit-columns.js"></script>
    <script src="/edugate/js/pages/homepage.js"></script>



    @RenderSection("Scripts", required: false)
</body>
</html>
