@model CmsCoreV2.Models.FormField

@{
    ViewData["Title"] = "Form Alanı Oluştur";
}

<h2>Form Alanı Oluştur</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Required" />
                    <label asp-for="Required"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Value" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Position" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Position" class="form-control" value="0" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FieldType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="FieldType" class="form-control">
                    <option >Seçiniz..</option>
                    <option value="1">Ad Soyad</option>
                    <option value="2">Telefon</option>
                    <option value="3">E-Posta</option>
                    <option value="4">Metin Kutusu</option>
                    <option value="5">Metin Alanı</option>
                    <option value="6">Açılır Menü</option>
                    <option value="7">Onay Kutusu</option>
                    <option value="8">Dosya Yükleme</option>
                    <option value="9">Radyo Düğmeleri</option>
                    <option value="10">Takvim</option>
                    <option value="11">Web Sitesi</option>
                    <option value="12">Sayı Değer</option>
                    <option value="13">Zaman Değer</option>
                </select>
                <span asp-validation-for="FieldType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FormId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="FormId" class ="form-control" asp-items="ViewBag.FormId">
                    <option>Seçiniz...</option>
                </select>
                <span asp-validation-for="FormId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-default" asp-action="Index">Listeye Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
