
@{
    ViewData["Title"] = "CmsCore Yönetim Paneli";
}
<h2>CmsCore v2.0'da Neler Yeni?</h2> 
<ul>
    <li>Çok-kiracılı mimari</li>
    <li>Çok-dilli yönetim paneli ve arayüz</li>
    <li>En güncel yazılım teknolojileri</li>
    <li>Tek katmanlı mimari</li>
</ul>
<hr />
<h2>Modüller</h2>
<ul>
    <li>CmsCore v2.0'da çalışır durumda olan 10 modül bulunmaktadır. Bu modüllere ulaşmak için sol menüyü kullanınız.</li>
    <li>E-ticaret modülleri ileriki sürümlerde eklenecektir.</li>
</ul>
<hr />
<h2>Ekip</h2>
<ul>
    <li>Murat Demirci (Project Manager &amp; Trainer)</li>
    <li>Ayberk Taha Piyade</li>
    <li>Mustafa Fındık</li>
    <li>Nadir Geçgel</li>
    <li>Ömer Örenç</li>
    <li>Murat Yanar</li>
    <li>Arzu Gedik</li>
    <li>Yağmur Kılıç</li>
    <li>Özlem Yıldırım</li>
    <li>Onur Kapıcı</li>
    <li>Levent Özbekçi</li>
    <li>Şakir Altınöz</li>
    <li>Kadircan Boztepe</li>
    <li>Hatice Durmuş</li>
    <li>Doğan Karakaya</li>
</ul>